<html ng-app>
	<head>
		<script src="scripts/resources/angular.js"></script>
		<script src="scripts/src/controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="css/stijlblad.css">
	</head>
	<body>
	<div ng-controller="CartController">
<div ng-repeat="item in items"> <span>{{item.title}}</span>
<input ng-model="item.quantity"> <span>{{item.price | currency}}</span>
<span>{{item.price * item.quantity | currency}}</span>
</div>
<div>Total: {{totalCart() | currency}}</div> <div>Discount: {{bill.discount | currency}}</div> <div>Subtotal: {{subtotal() | currency}}</div>
</div>
	</body>
</html>